{% extends 'base.html' %}
{% block content %}

{% load static %}

<section class="photo-slider">
  <img class="slider-img fade" src="../../static/images/Alameda-Rec-Center/ARC-03.jpg" alt=""/>
  <img class="slider-img fade" src="../../static/images/SISD-Carrasco-Elem/SISD-01.jpg" alt=""/>
  <img class="slider-img fade" src="../../static/images/gs-panoramic2.web2.jpg" alt=""/>
  <img class="slider-img fade" src="../../static/images/" alt=""/>
  <img class="slider-img fade" src="../../static/images/" alt=""/>

  <div class="dots" hidden>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div>
</section>

{% endblock %}