{% extends 'base.html' %}
{% block content %}

{% load static %}

<section class="photo-slider">
  <img class="slider-img fade" src="../../static/images/full-size-01.jpg" alt=""/>
  <img class="slider-img fade" src="../../static/images/full-size-04.jpg" alt=""/>
  <img class="slider-img fade" src="../../static/images/full-size-06.jpg" alt=""/>
  <img class="slider-img fade" src="../../static/images/full-size-05.jpg" alt=""/>
  <img class="slider-img fade" src="../../static/images/full-size-07.jpg" alt=""/>
  <img class="slider-img fade" src="../../static/images/full-size-10.jpg" alt=""/>

  <div class="dots" hidden>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
  </div>
</section>

{% endblock %}