{% extends 'base.html' %}
{% block content %}

{% load static %}

<div id="portfolio-page">
  <h1>OUR WORK</h1>
  <div class="grid-tiles">
    <a id="alameda-tile" class="photo-tile" href="{% url 'alameda' %}">
      <h2>Alameda Rec Center<br>El Paso, TX</h2>
    </a>
    <a id="carrasco-tile" class="photo-tile" href="{% url 'sisd-carrasco' %}">
      <h2>SISD Carrasco Elementary<br>El Paso, TX</h2>
    </a>
    <a id="ttuhsc-tile" class="photo-tile" href="{% url 'ttuhsc' %}">
      <h2>Texas Tech Univeristy Health Sciences Center<br>El Paso, TX</h2>
    </a>
    <a id="eastside-reg-tile" class="photo-tile" href="{% url 'eastside-reg' %}">
      <h2>Eastside Regional Park<br>El Paso, TX</h2>
    </a>
    <a id="franklin-mts-tile" class="photo-tile" href="{% url 'franklin-mts-aviation' %}">
      <h2>Franklin Mountains Aviation Center<br>El Paso, TX</h2>
    </a>
    <a id="borderland-park-tile" class="photo-tile" href="{% url 'borderland-park' %}">
      <h2>Borderland Park<br>El Paso, TX</h2>
    </a>
    <a id="thorn-park-tile" class="photo-tile hidden" href="{% url 'thorn-park' %}">
      <h2>Thorn Park<br>El Paso, TX</h2>
    </a>
    <a id="north-loop-apts-tile" class="photo-tile hidden" href="">
      <h2>North Loop Apartments<br>El Paso, TX</h2>
    </a>
    <a id="kinective-gym-tile" class="photo-tile hidden" href="">
      <h2>Kinective Fitness Club<br>El Paso, TX</h2>
    </a>
    <a id="atlantic-aviation-tile" class="photo-tile hidden" href="">
      <h2>Atlantic Aviation<br>El Paso, TX</h2>
    </a>
  </div>

  <br>

  <div class="bottom-btns">
    <a href="javascript:void(0);" id="loadmore" class="input btn white" onclick="loadMore()">Load More</a>
    <a href="{% url 'contact' %}" title="Get in touch" class="input btn white">Ready to work with us?</a>
  </div>
</div>

<script>
  // Load more photos after the first 6 on Portfolio Page
  function loadMore() {
    const hiddenItems = [...document.getElementsByClassName('hidden')];
    const loadMoreBtn = document.getElementById('loadmore');

    hiddenItems.splice(0, 6).forEach(
      elem => elem.classList.remove('hidden')
    );

    if (hiddenItems.length === 0) {
      loadMoreBtn.classList.add('hidden');
    }
  }
</script> 

{% endblock %}