{% extends 'base.html' %}
{% block content %}

{% load static %}

<div class="individual-project-page">
  <a class="back-link" href="{% url 'portfolio' %}"><span class="fa fa-chevron-left"></span> Back</a>
  <h1>ALAMEDA RECREATIONAL CENTER</h1>
  <h2>El Paso, TX (Lower Valley)</h2>

  <div class="grid-tiles">
    <img src="../../../static/images/Alameda-Rec-Center/ARC-01.JPG" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-02.JPG" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-03.jpg" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-04.JPG" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-05.jpg" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-06.jpg" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-07.JPG" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-08.JPG" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-09.JPG" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-10.jpg" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
    <img src="../../../static/images/Alameda-Rec-Center/ARC-11.JPG" alt="bright sunshine day with plants and trees surrounding a rec center" class="photo-tile" />
  </div>

  <div class="bottom-btns">
    <a href="{% url 'contact' %}" title="Get in touch" class="input btn white">Ready to work with us?</a>
  </div>

</div>

{% endblock %}