{% extends 'base.html' %}
{% block content %}

{% load static %}

<div class="individual-project-page">
  <a class="back-link" href="{% url 'portfolio' %}"><span class="fa fa-chevron-left"></span> Back</a>
  <h1>CARRASCO ELEMENTARY SCHOOL</h1>
  <h2>El Paso, TX (Socorro Independent School District)</h2>

  <div class="grid-tiles">
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-01.jpg" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-02.jpg" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-03.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-04.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-05.jpg" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-06.jpg" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-07.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-08.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-09.jpg" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-10.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-11.jpg" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-12.jpg" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-13.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-14.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-15.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    <img src="../../../static/images/SISD-Carrasco-Elem/SISD-16.JPG" alt="plants and trees surrounding a school" class="photo-tile" />
    
  </div>

  <div class="bottom-btns">
    <a href="{% url 'contact' %}" title="Get in touch" class="input btn white">Ready to work with us?</a>
  </div>

</div>

{% endblock %}