{% extends 'base.html' %}
{% block content %}

{% load static %}

<div class="individual-project-page">
  <a class="back-link" href="{% url 'portfolio' %}"><span class="fa fa-chevron-left"></span> Back</a>
  <h1>THORN PARK</h1>
  <h2>El Paso, TX (Westside)</h2>

  <div class="grid-tiles">
    <img src="../../../static/images/Thorn-Park/TP-01.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-02.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-03.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-04.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-05.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-06.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-07.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-08.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-09.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-10.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-11.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-12.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-13.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
    <img src="../../../static/images/Thorn-Park/TP-14.JPG" alt="plants and trees surrounding a playground and a field" class="photo-tile" />
   
  </div>

  <div class="bottom-btns">
    <a href="{% url 'contact' %}" title="Get in touch" class="input btn white">Ready to work with us?</a>
  </div>

</div>

{% endblock %}